body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
ul {
    list-style: none;
}

.nav {
    display: flex;
}

    .nav li a {
        /*background-color: lightgreen;*/
        color: #000;
        text-decoration: none;
        padding: 15px 15px;
        display: flex;
        align-items: center;
    }

        .nav li a:hover {
            background-color: rgb(221, 228, 26);
        }

    .nav > li {
        float: left;
    }

    .nav li ul {
        display: none;
        position: absolute !important;
        min-width: 140px;
    }

    .nav li:hover > ul {
        display: block;
    }
